/* General Styling */
:root {
    --box-shadow: 8px 1px 4px 1px rgba(199, 199, 199, 1);
    --income: rgb(7, 194, 7);
    --expense: red;
}

html {
  font-size: 62.5%;
  font-family: "Roboto Mono", monospace;
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(120deg, #b0b9fa, #fcfcfe);
}

h2 {
  text-transform: uppercase;
  font-size: 2rem;
}

button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    cursor: pointer;
}

/* header styling */
h1 {
  text-align: center;
  font-size: 3rem;
}

/* balance container styling */
.balance-container #balance {
  font-size: 1.5rem;
}

.balance-container #balance {
    font-size: 3rem;
}

/* cash flow styling */
.cashflow-container {
    display: flex;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin-top: 2rem;
}

.income-container {
    border-right: 1px solid #cccccc;
    padding-right: 2rem;
}

.expense-container {
    padding-left: 2rem;
}

#income, #expense {
    font-size: 2.5rem;
    padding-top: 1rem;
}

#income {
    color: var(--income);
}

#expense {
    color: var(--expense);
}

/* transaction styling */
.transaction-container, .form-container {
    margin-top: 4rem;}

#transaction {
    list-style: none;
    margin: 0;
    padding: 0;
}

#transaction li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: var(--box-shadow);
}

#transaction li span {
    display: inline-block;
    color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin-right: 1rem;
}

#transaction li .income-amt {
    background-color: var(--income);
}

#transaction li .expense-amt {
    background-color: var(--expense);
}

/* form styling */
.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container form label {
    padding-bottom: 1rem;
}

.form-container form input {
    height: 2.5rem;
    margin-bottom: 1rem;
}

.form-container form button {
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    font-family: "Roboto Mono", monospace;
}

.form-container form #incomeBtn {
    background-color: var(--income);
}

.form-container form #expenseBtn {
    background-color: var(--expense);
}